@import "../components/bootstrap/dist/css/bootstrap.css";
@import "../components/angular/angular-csp.css";
@import "../components/angular-chart.js/dist/angular-chart.css";

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    width: 90%;
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.navbar-custom {
    background-color:#0CA5B3;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.ccg{
    stroke: #000;
    stroke-width: 1.5px;

}
.country:hover{
    stroke: #fff;
    stroke-width: 1.5px;
}
.text{
    font-size:10px;
    text-transform:capitalize;
}
#container {
    margin:10px 10%;
    border:2px solid #000;
    border-radius: 5px;
    height:100%;
    overflow:hidden;
    background: #F0F8FF;
}
.hidden {
    display: none;
}
div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}
.graticule {
    fill: none;
    stroke: #bbb;
    stroke-width: .5px;
    stroke-opacity: .5;
}
.equator {
    stroke: #ccc;
    stroke-width: 1px;
}
