<!-- contact.html -->
<div class="jumbotron text-center">
    <h1>About Page</h1>

    <p>{{ message }}</p>
</div>

<div class="row" >
    <div class="col-lg-12">

        Welcome to MENG Group Project to visualize the public data from <a
            href="http://fingertips.phe.org.uk/profile/general-practice/data">http://fingertips.phe.org.uk/profile/general-practice/data</a>

        <h3>Infrastructure</h3>
        The Data is being handled by a MySQL Database.
        The Data is being extracted by a custom API written in python using the Flask Lib
        The Frontend section is a HTML5 Application using the following Libs:
        <hr/>
        <ul>
            <li><a href="">Bootstrap</a></li>
            <li><a href="">Bootstrap-slider</a></li>
            <li><a href="">Morrisjs</a></li>
            <li><a href="">D3</a></li>
        </ul>
        <hr/>
        <h3>Thanks to </h3>
        <center>
            <img src="http://wepredict.co.uk/images/en/logo.png" width="250px">
            <br/>
            <br/>
            <img src="http://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Swansea_University_logo.svg/800px-Swansea_University_logo.svg.png"
                 width="250px">
        </center>


    </div>


</div>