
<!-- Page Content -->
<div class="container ng-container">

    <div class="row">
        <div class="col-lg-12 img-rounded" style="background-color: #286090">
            <table class="table borderless" style="text-align: center; vertical-align:middle;color: #ffffff ">
                <col width="100%">
                <tr>
                    <td>
                        <h1>{{message}}</h1>
                    </td>

                </tr>
            </table>
        </div>
    </div>


<div class="row">
    <div class="col-sm-8">
        <h2>Welcome</h2>
        Welcome to MENG Group Project to visualize the public data from <a href="http://fingertips.phe.org.uk/profile/general-practice/data">http://fingertips.phe.org.uk/profile/general-practice/data</a>
        <hr>
        <h3>Thanks to </h3>
        <center>
            <table style="width: 100%">
                <tr>
                    <td>
                        <img src="http://wepredict.co.uk/images/en/logo.png" width="250px">
                    </td>
                    <td>
                        <img src="http://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Swansea_University_logo.svg/800px-Swansea_University_logo.svg.png"
                             width="250px">
                    </td>
                </tr>
            </table>



        </center>
    </div>
    <div class="col-sm-4">
        <h3>Infrastructure</h3>
        The Data is being handled by a MySQL Database.
        The Data is being extracted by a custom API written in python using the Flask Lib
        The Frontend section is a HTML5 Application using the following Libs:
        <hr/>
        <ul>
            <li><a href="">Bootstrap</a></li>
            <li><a href="">Bootstrap-slider</a></li>
            <li><a href="">Morrisjs</a></li>
            <li><a href="">D3</a></li>
        </ul>
    </div>
</div>
<!-- /.row -->

<hr>

<div class="row">
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" width="300px" src="https://pbs.twimg.com/profile_images/518841549103169537/XywDsEgI_400x400.png" alt="">
        <h2>Random Title</h2>
        <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center"  width="300px" src="http://www.gravatar.com/avatar/cb58014208df792ff42219fef0e44cc2.jpg?s=256&r=g&d=404" alt="">
        <h2>Random Title</h2>
        <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" width="300px" src="https://lh3.googleusercontent.com/-gBvkh0UWREI/VMJUgKTfxoI/AAAAAAAAHgw/2RWRhkhVVJI/s540-no/10401408_10205633200252843_1590672394018869702_n.jpg" alt="">
        <h2>Random Title</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
</div>
<!-- /.row -->

<hr>
</div>