<!-- contact.html -->

    <div class="row">
       <div class="col-lg-12 img-rounded" style="background-color: #286090">
           <table class="table" style="text-align: center; vertical-align:middle;color: #ffffff " border="0">
               <col width="90%"><col width="10%">
               <tr>
                   <td>
                       <h1>{{ccgname}}</h1>
                   </td>
                   <td>
                       <ccg-poly ccgid="ccgid"></ccg-poly>
                   </td>
               </tr>
           </table>
       </div>
    </div>
<br>
<div class="row">
    <div class="col-lg-4">

        <div class="panel panel-default ">
            <div class="panel-heading clearfix"style="background-color: #286090">
                <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Over View Graph 2</h4>
            </div>
            <div class="panel-body" style="width:100%;">
                <canvas id="bar" class="chart chart-bar" data="data" labels="labels"
                        legend="true" series="series" click="onClick"></canvas>
            </div>
        </div>

        </div>
    <div class="col-lg-4">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix"style="background-color: #286090">
                <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Over View Graph 1</h4>
            </div>
            <div class="panel-body" style="width:100%;">
                <canvas id="line" class="chart chart-line" data="data" labels="labels"
                        legend="true" series="series" click="onClick"></canvas>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix"style="background-color: #286090">
                <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Over View Graph 1</h4>
            </div>
            <div class="panel-body" style="width:100%;">
                <canvas id="line" class="chart chart-line" data="data" labels="labels"
                        legend="true" series="series" click="onClick"></canvas>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-3">

        <div class="panel panel-default ">
            <div class="panel-heading clearfix"style="background-color: #286090">
                <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Over View Graph 2</h4>
            </div>
            <div class="panel-body" style="width:100%;">
                <canvas id="bar" class="chart chart-bar" data="data" labels="labels"
                        legend="true" series="series" click="onClick"></canvas>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading clearfix"style="background-color: #286090">
                <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Over View Graph 2</h4>
            </div>
            <div class="panel-body" style="width:100%;">
                <canvas id="bar" class="chart chart-bar" data="data" labels="labels"
                        legend="true" series="series" click="onClick"></canvas>
            </div>
        </div>

    </div>
    <div class="col-lg-9">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix"style="background-color: #286090">
                <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Over View Graph 1</h4>
            </div>
            <div class="panel-body" style="width:100%;">
                <canvas id="line" class="chart chart-line" data="data" labels="labels"
                        legend="true" series="series" click="onClick"></canvas>
            </div>
        </div>

    </div>
</div>